---
BasedOnStyle: LLVM
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: NonAssignment
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IndentPPDirectives: AfterHash
PointerAlignment: Left
QualifierAlignment: Left
SpacesBeforeTrailingComments: 2
