---
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: NonAssignment
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IndentPPDirectives: AfterHash
PointerAlignment: Left
QualifierAlignment: Left
SpacesBeforeTrailingComments: 2
